*{
    cursor: none !important;
}

.img-logo{
    height: 60vh;
    margin: auto;
    display: block;
    margin-top: 8vh;
}

.datetime{
    font-size: 40px;
    font-weight: bold;
}

.reloj{
    margin-top: 8vh;
}

.img-modal{
    padding: 5px;
}


.bold-text{
    font-size: 24px;
    font-weight: bold;
}

.normal-text{
    font-size: 24px;
}

.margin-row{
    margin-top: 10px;
    padding: 20px;
}

.modal-center{
    margin-top: 12vh;
}

#message-backend{
    font-size: 18px;
    font-weight: 700;
}

.text_red{
    color: red;
}