extends ../base
block title
    | Asoandes
block head_content
    link(rel="stylesheet",href="{% static 'css/windows.css'%}")

block body_content
    div(class="container-fluid")
        div(class="row")
            img(src="{% static 'img/logo.png'%}",class="img-logo")
        div(class="row reloj")
            div(class="clock")
                div(id="Date")
                ul
                    li(id="hours")
                    li(id="point") :
                    li(id="min")
                    li(id="point") :
                    li(id="sec")

    div(class="modal",id="myModal",tabindex="-1",role="dialog")
        div(class="modal-dialog modal-lg modal-center",role="document")
            div(class="modal-content")
                div(class="row")
                    div(class="col-sm-5")
                        img(id="avatar",src="",class="img-responsive",style="padding:40px;")
                    div(class="col-sm-7")
                        div(class="row margin-row")
                            p(class="inline bold-text") Nombres:
                                p(class="inline normal-text",id="nombres")
                            p(class="inline bold-text") Apellidos:
                                p(class="inline normal-text",id="apellidos")
                            p(class="inline bold-text") Cedula:
                                p(class="inline normal-text",id="cedula")
                            p(class="inline bold-text") RH:
                                p(class="inline normal-text",id="rh")
                            p(class="inline bold-text") Cargo:
                                p(class="inline normal-text",id="cargo")
                            p(class="inline bold-text") Entrada A.M.:
                                p(class="inline normal-text",id="entrada_am")
                            p(class="inline bold-text") Salida A.M.:
                                p(class="inline normal-text",id="salida_am")
                            p(class="inline bold-text") Entrada P.M.:
                                p(class="inline normal-text",id="entrada_pm")
                            p(class="inline bold-text") Salida P.M.:
                                p(class="inline normal-text",id="salida_pm")
                div(class="row text-center hidden",id="message-backend")
                    h1(id="message")


block body_script
    script.
        Notification.requestPermission();
        $('body').css('cursor', 'none');
        $('body').css('cursor', 'none');
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        socket = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/realtime/");
        socket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            if (data.status == "granted") {
                $("#avatar").attr('src',data.photo)
                $("#nombres").text(data.first_name)
                $("#apellidos").text(data.last_name)
                $("#cedula").text(data.cedula)
                $("#rh").text(data.rh)
                $("#cargo").text(data.cargo)

                $("#entrada_am").text(data.entrada_am)
                $("#salida_am").text(data.salida_am)
                $("#entrada_pm").text(data.entrada_pm)
                $("#salida_pm").text(data.salida_pm)

                if(data.entrada_am.color == 'red'){
                    $("#entrada_am").addClass('text-red');
                }

                if(data.salida_am.color == 'red'){
                    $("#salida_am").addClass('text-red');
                }

                if(data.entrada_pm.color == 'red'){
                    $("#entrada_pm").addClass('text-red');
                }

                if(data.salida_pm.color == 'red'){
                    $("#salida_pm").addClass('text-red');
                }

                if (data.message != undefined){
                    $("#message").text(data.message);
                    $("#message-backend").removeClass('hidden');
                    if(data.message.color_messa == 'red'){
                        $("#message").addClass('text-red');
                    }
                }

                $('#myModal').modal('hide');
                $('#myModal').modal('show');
                setTimeout(function () {$('#myModal').modal('hide');$(".modal-backdrop").remove();}, 4000);
            }
            if (data.status == "granted_reload"){
                window.location.reload();
            }
        }
        socket.onopen = function () {
        }

    script.
        $(document).ready(function () {
            // Create two variable with the names of the months and days in an array
            var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
            var dayNames = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]
            // Create a newDate() object
            var newDate = new Date();
            // Extract the current date from Date object
            newDate.setDate(newDate.getDate());
            // Output the day, date, month and year
            $('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' DE ' + monthNames[newDate.getMonth()] + ' DEL ' + newDate.getFullYear());
            setInterval(function () {
                // Create a newDate() object and extract the seconds of the current time on the visitor's
                var seconds = new Date().getSeconds();
                // Add a leading zero to seconds value
                $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
            }, 1000);
            setInterval(function () {
                // Create a newDate() object and extract the minutes of the current time on the visitor's
                var minutes = new Date().getMinutes();
                // Add a leading zero to the minutes value
                $("#min").html(( minutes < 10 ? "0" : "" ) + minutes);
            }, 1000);
            setInterval(function () {
                // Create a newDate() object and extract the hours of the current time on the visitor's
                var hours = new Date().getHours();
                // Add a leading zero to the hours value
                $("#hours").html(( hours < 10 ? "0" : "" ) + hours);
            }, 1000);
        });